<blockquote>
    <h3>Transactions</h3>
</blockquote>
<div *ngIf="notrans; else trans" class="center">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<ng-template #trans>
    <div class="row" *ngIf="userTrans">
        <table class="striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let tran of userTrans">
                    <td>{{tran["from"]}}</td>
                    <td>{{tran["to"]}}</td>
                    <td>{{tran["amount"]}}</td>
                    <td>{{tran["type"]}}</td>
                    <td>{{tran["date"]}}</td>
                    <td>{{tran["description"]}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row center-align" *ngIf="userTrans?.length == 0">
        <h3 class="blue-text">No Transactions</h3>
    </div>
</ng-template>