<br>
<br>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#test1">Create a Ticket</a></li>
      <li class="tab col s6"><a href="#test2">My Tickets</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <br>
    <Br>
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" class="validate" [(ngModel)]="ticket.subject" maxlength="60" data-length="60">
        <label class="active">Subject</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="query1" class="materialize-textarea" [(ngModel)]="ticket.desc" maxlength="1000"
          data-length="1000"></textarea>
        <label for="query1" class="active">Query</label>
      </div>
    </div>
    <div class="row center">
      <div class="file-field input-field col s6">
        <div class="btn">
          <span>File</span>
          <input type="file" accept="image/*" (change)="onFileSelected($event)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row center">
      <a class="btn-floating btn-large waves-effect waves-light red" (click)="createTicket()"><i
          class="material-icons">play_arrow</i></a>
    </div>

  </div>
  <!--end of first div-->
  <div id="test2" class="col s12">
    <br>
    <br>
    <ul class="collection with-header" *ngIf="openTickets">
      <li class="collection-header">
        <h4>Open</h4>
      </li>
      <li class="collection-item" *ngFor="let ticket of openTickets">
        <div class="truncate">{{ticket["subject"]}}<a href="#!" class="secondary-content"><i
              class="material-icons">send</i></a></div>
      </li>
    </ul>
    <div class="row center-align" *ngIf="openTickets?.length == 0">
      <h3 class="blue-text">No Open Tickets</h3>
    </div>
    <br>
    <div class="divider"></div>
    <br>
    <ul class="collection with-header" *ngIf="resTickets">
      <li class="collection-header">
        <h4>Resolved</h4>
      </li>
      <li class="collection-item" *ngFor="let ticket of resTickets">
        <div class="truncate">{{ticket["subject"]}}<a href="#!" class="secondary-content"><i
              class="material-icons">send</i></a></div>
      </li>
    </ul>
    <div class="row center-align" *ngIf="resTickets?.length == 0">
      <h3 class="blue-text">No Resolved Tickets</h3>
    </div>
  </div>
</div>