<blockquote>
    <h3>{{userDetails["username"]}}</h3>
</blockquote>

<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total Assets</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{userDetails["username"]}}</td>
            <td>{{userDetails["email"]}}</td>
            <td>{{userDetails["ownedTokens"]}}</td>
        </tr>

    </tbody>
</table>
<br><br>
<div class="divider"></div>
<div class="section center">
    <h5>Transactions</h5>
</div>
<div class="row" *ngIf="userTrans"></div>
<table class="striped">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tran of userTrans">
            <td>{{tran["from"]}}</td>
            <td>{{tran["to"]}}</td>
            <td>{{tran["amount"]}}</td>
            <td>{{tran["type"]}}</td>
            <td>{{tran["date"]}}</td>
            <td>{{tran["description"]}}</td>
        </tr>

    </tbody>
</table>

<div class="row center-align" *ngIf="userTrans?.length == 0">
    <h3 class="blue-text">No Transactions</h3>
</div>