<blockquote>
    <h3>{{userDetails["username"]}}</h3>
</blockquote>

<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total Assets</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{userDetails["username"]}}</td>
            <td>{{userDetails["email"]}}</td>
            <td>{{userDetails["ownedTokens"]}}</td>
        </tr>

    </tbody>
</table>
<br><br>
<div class="divider"></div>
<div class="section center">
    <h5>Transactions</h5>
</div>