<nav class="light-blue">
    <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo"><i class="material-icons">polymer</i>Empire Hut</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/login">Login / Sign Up</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login / Sign Up</a></li>
</ul>
<div class="container">
    <h3 class="center">Purchase an asset in 3 simple steps</h3>
    <br>


    <div class="row">
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Register Yourself</p>
                <p class="light center">Register yourself in a quick and easy way like never before</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">Find an Asset</p>
                <p class="light center">Find your dream home in seconds. Our team collects real time asset purchase data and publishes every 1hr.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center promo promo-example">
                <i class="material-icons">settings</i>
                <p class="promo-caption">Purchase it</p>
                <p class="light center">Purchase, track and own your asset in a fast,quick,secured and decentralised fassion. Our cryptography offers tamper-proof record storing</p>
            </div>
        </div>
    </div>

</div>