<blockquote>
    <h3>Create a New Asset</h3>
</blockquote>

<div class="row">
    <!-- <form class="col s12"> -->
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">chrome_reader_mode</i>
            <input id="title" type="text" class="validate" required [(ngModel)]="asset.name">
            <label for="title" class="active">Name</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">place</i>
            <input id="artist" type="text" class="validate" required [(ngModel)]="asset.address">
            <label for="artist" class="active">Address</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">photo_size_select_small</i>
            <input id="album" type="text" class="validate" required [(ngModel)]="asset.area">
            <label for="album" class="active">Area</label>
        </div>
    </div>
    

    <div class="row center-align">
        <a (click)="addasset()" class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons">play_arrow</i></a>
    </div>